body {
  background-color: rgb(238, 229, 255) !important;
}


h1 {
  color: white;
  letter-spacing: 0.65em;
  text-align: center;
}

h2 {
  margin-left: 10%;
  letter-spacing: 0.1em;
}

h3 {
  margin-left: 20%;
  letter-spacing: 0.05em;
}

p {
  font-family: "ubuntu", sans-serif;
  width: 600px;
}

body, html {
    height: 100%;
}

.about{
  margin-left: 25%;
  letter-spacing: 0.05em;
  width: 60%;
}

#about {
  width: 100%;
}

.cover {
    background-image: url("https://photos.smugmug.com/photos/i-ffVG6Gk/0/9a2c3449/O/i-ffVG6Gk.jpg");
    height: 79%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.cover_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.caption {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
